  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=WDXL+Lubrifont+TC&display=swap');


:root {
  --color-fondo: #f5f5f5;
  --color-principal: #0d1cc6;
  --color-secundario: #34495e;
  --color-acento: #b12718;
  --color-acento-hover: #e74c3c;
  --color-texto: #e3f7f1f9;
  --color-contenedor: #e0e0e0;
  --color-borde: #143198;
}

/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: 'roboto', sans-serif;
  background-color: var(--color-fondo);
  color: var(--color-principal);
  line-height: 1.6;
}

img {
  max-width: 150%;
  height: auto;
  border-radius: 15px;
}

Contenedor general 
.contenedor {
    background-color: var(--color-borde);
  width: 90%;
  max-width: 1200px;
  margin: auto;
  
}

/* Encabezado */
header {
  background-color: var(--color-principal);
  color: var(--color-texto);
  padding: 20px;
  text-align: center;
}

header h1 {
  font-size: 2.5rem;
}

header p {
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 5px;
}

header img {
  margin-top: 15px;
  border: 5px solid var(--color-acento);
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

/* Menú de navegación */
nav {
  background-color: var(--color-acento);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

nav a {
  color: var(--color-texto);
  text-decoration: none;
  padding: 15px 20px;
  display: block;
  transition: background 0.3s;
}

nav a:hover {
  background-color: var(--color-acento-hover);
}

/* Secciones */
section {
  padding: 30px 20px;
  background-color: var(--color-contenedor);
  margin: 20px 0;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.1);
}

/* Tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

thead {
  background-color: var(--color-secundario);
  color: var(--color-texto);
}

th, td {
  padding: 12px;
  border: 1px solid var(--color-borde);
  text-align: left;
}

/* Formulario */
form input, form select, form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 8px;
  margin-bottom: 15px;
  border: 1px solid var(--color-borde);
  border-radius: 5px;
}

form button {
  background-color: var(--color-acento);
  color: var(--color-texto);
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background-color: var(--color-acento-hover);
}

/* Multimedia */
video, audio {
  margin-top: 10px;
  max-width: 100%;
  display: block;
}

/* Footer */
footer {
  background-color: var(--color-principal);
  color: var(--color-texto);
  text-align: center;
  padding: 20px;
  margin-top: 20px;
}

footer nav.enlaces {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

footer nav.enlaces a {
  color: var(--color-texto);
  padding: 8px 12px;
  text-decoration: none;
  background-color: var(--color-texto);
  border-radius: 5px;
}

footer nav.enlaces a:hover {
  background-color: var(--color-acento-hover);
}

footer .social a {
  margin: 0 8px;
  color: var(--color-texto);
  text-decoration: none;
   transition: background 0.3s;
}
footer a:hover {
  background-color: var(--color-acento-hover);
}


